/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 4, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 6, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 10, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/***** SITE STYLES *************/
/**********************************/
/* line 21, ../scss/style.scss */
body {
  line-height: 1.5;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-color: #ccc;
}

/* line 29, ../scss/style.scss */
img {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
}

/* line 36, ../scss/style.scss */
ul {
  display: block;
}

/* line 39, ../scss/style.scss */
li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
}

/* line 44, ../scss/style.scss */
h3 {
  padding: 0px;
  color: #FF5C4E;
}

/* line 50, ../scss/style.scss */
.wrapper1 {
  width: 90%;
  margin: 0 auto;
}

/* line 54, ../scss/style.scss */
.wrapper {
  width: 90;
}

/* line 57, ../scss/style.scss */
.heading {
  background-image: url(../img/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
/* line 64, ../scss/style.scss */
.heading .inner {
  background: rgba(0, 0, 255, 0.2);
}
/* line 71, ../scss/style.scss */
.heading img {
  width: 40%;
  display: inline-block;
  margin-top: 5%;
  margin-bottom: 5%;
}
/* line 78, ../scss/style.scss */
.heading p {
  font-size: 10px;
  text-align: center;
  color: white;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 15px;
  transform: skewY(-9deg);
  font-family: 'Rock Salt', cursive;
}
/* line 89, ../scss/style.scss */
.heading #title {
  color: white;
  font-family: 'Rock Salt', cursive;
  transform: skewY(-9deg);
  padding: 2px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
  width: 70%;
}
/* line 105, ../scss/style.scss */
.heading a {
  background-color: white;
  display: inline-block;
  text-align: center;
  color: #FF5C4E;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  width: 20%;
  border-radius: 8px;
}

/* line 125, ../scss/style.scss */
.register_button {
  margin-bottom: 15px;
}

/* line 128, ../scss/style.scss */
.nav_bar {
  background-color: #FF5C4E;
}
/* line 131, ../scss/style.scss */
.nav_bar ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 136, ../scss/style.scss */
.nav_bar li {
  padding: 5px;
  margin: 0 auto;
  padding: 10px;
}
/* line 142, ../scss/style.scss */
.nav_bar a {
  color: white;
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 152, ../scss/style.scss */
.presented_by {
  background: #666;
}
/* line 155, ../scss/style.scss */
.presented_by h2 {
  text-align: center;
  padding-top: 15px;
  color: white;
}
/* line 162, ../scss/style.scss */
.presented_by #iron_yard {
  width: 60%;
  margin: 0 auto;
  padding: 15px;
}
/* line 168, ../scss/style.scss */
.presented_by #unmatched_style {
  width: 60%;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 30px;
}

/* line 176, ../scss/style.scss */
.footer {
  background-color: #ccc;
  padding: 15px;
}
/* line 181, ../scss/style.scss */
.footer #grok_logo {
  width: 20%;
  margin: 0 auto;
}
/* line 188, ../scss/style.scss */
.footer #facebook {
  width: 10%;
  display: inline-block;
  margin: 0 auto;
  padding-left: 39%;
}
/* line 196, ../scss/style.scss */
.footer #twitter {
  width: 10%;
  display: inline-block;
  margin: 0 auto;
}
/* line 203, ../scss/style.scss */
.footer p {
  font-size: 12px;
  text-align: center;
}

/* line 211, ../scss/style.scss */
.cool_guys {
  background-color: #FF5C4E;
  padding: 15px;
  margin-bottom: 20px;
  color: white;
}
/* line 216, ../scss/style.scss */
.cool_guys h1 {
  text-align: center;
  padding: 0;
  margin: 0;
}

/* line 225, ../scss/style.scss */
.schedule .tg {
  margin-top: 15px;
}
/* line 229, ../scss/style.scss */
.schedule th {
  border: 1pt solid #ccc;
  background-color: #FF5C4E;
}
/* line 234, ../scss/style.scss */
.schedule td {
  border: 1pt solid #ccc;
  padding: 3px;
}

@media screen and (min-width: 800px) {
  /* line 251, ../scss/style.scss */
  .heading img {
    width: 20%;
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 0;
  }
  /* line 258, ../scss/style.scss */
  .heading p {
    font-size: 14px;
    text-align: center;
    color: white;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 15px;
    transform: skewY(-9deg);
    font-family: 'Rock Salt', cursive;
  }
  /* line 269, ../scss/style.scss */
  .heading #title {
    color: #ccc;
    font-family: 'Rock Salt', cursive;
    transform: skewY(-9deg);
    text-align: center;
    font-size: 24px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  /* line 286, ../scss/style.scss */
  .heading a {
    background-color: white;
    display: inline-block;
    text-align: center;
    color: #FF5C4E;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 10%;
    border-radius: 8px;
    font-size: 22px;
  }

  /* line 308, ../scss/style.scss */
  .section_1 {
    width: 80%;
    margin: 0 auto;
  }

  /* line 313, ../scss/style.scss */
  .section_2 {
    width: 80%;
    margin: 0 auto;
  }

  /* line 323, ../scss/style.scss */
  .nav_bar {
    background-color: #FF5C4E;
  }
  /* line 326, ../scss/style.scss */
  .nav_bar ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  /* line 331, ../scss/style.scss */
  .nav_bar li {
    padding: 15px;
    margin: 0 auto;
  }
  /* line 337, ../scss/style.scss */
  .nav_bar a {
    color: white;
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 22px;
  }

  /* line 365, ../scss/style.scss */
  .speaker_1 #aaron {
    width: 40%;
    display: inline-block;
  }
  /* line 370, ../scss/style.scss */
  .speaker_1 h3 {
    color: #FF5C4E;
    width: 30%;
    margin: 10px;
    margin-left: 0;
    text-align: center;
  }
  /* line 379, ../scss/style.scss */
  .speaker_1 h4 {
    margin-left: 10px;
  }
  /* line 382, ../scss/style.scss */
  .speaker_1 p {
    margin: 10px;
    padding: 0;
    margin-bottom: 15px;
  }
  /* line 388, ../scss/style.scss */
  .speaker_1 .info {
    display: inline-block;
    width: 40%;
  }

  /* line 396, ../scss/style.scss */
  .speaker_2 #carl {
    width: 40%;
    display: inline-block;
  }
  /* line 401, ../scss/style.scss */
  .speaker_2 h3 {
    color: #FF5C4E;
    width: 22%;
    margin: 10px;
    margin-left: 0;
    text-align: center;
  }
  /* line 410, ../scss/style.scss */
  .speaker_2 h4 {
    margin-left: 10px;
  }
  /* line 414, ../scss/style.scss */
  .speaker_2 p {
    margin: 10px;
    padding: 0;
    margin-bottom: 15px;
  }
  /* line 421, ../scss/style.scss */
  .speaker_2 .info1 {
    display: inline-block;
    width: 40%;
  }
}
